<!DOCTYPE html>
<html>
  <head>
    <title>Los Dos Hermanos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <header class="encabezado">
      <h1 class="titulop">Plomeria los dos hermanos</h1>
    </header>
    
    <section class="contenidop">
      
      <div class="cont"> 
        <h2>Quienes Somos?</h2>
        <br>
        <p>Plomeria los dos hermanos es una empresa dedicada a la venta de productos de plomeria y trabajos de plomeria para cualquier tipo de establecimiento.</p> <br><img src="../images/primerai.jpg" alt=""> 
      </div>
      <div class="cont">
        <h2>Servicios</h2>
        <br>
        <p>-Estructuracion de tubos de agua potable. 25$</p>
        <p>-Instalacion de tubos de agua potable. 30$</p>
        <p>-Reparacion de plomeria general. 45$</p> 
        <p>-Planificacion de estructura de baño. 20$</p><br><img src="../images/segundai.jpg" alt="">
      </div>
      <div class="cont"> 
        <h2>Beneficios y Ventajas</h2>
        <br>
        <p>En Plomeria los dos hermanos ofrecemos una gran variedad de productos en el area de plomeria, contamos con la mejor mano de obra y calidad en nuestros productos, garantia de 3ños por cada trabajo y de 6 meses en los insumos no esperes mas y contratanos ya. </p> <br><img src="../images/tercerai.jpg" alt="">
      </div>
      <div class="cont"> 
        <h2>Contactanos</h2>
        <br>
        <p>Si deseas contactarnos puedes hacerlo por medio de nuestras redes sociales o por email. </p> 
        <br>
        <p>Instagram: <a href="https://www.instagram.com/plomeriayh/">@plomeriayh</a></p> 
        <p>Telefono: 0412-1445965</p> 
        <p>Email: Plomeria2h@gmail.com</p>
      </div>

    </section>

    <footer class="footer">
      <p>Los dos hermanos plomeria Copyright &copy; 2024</p>
    </footer>

  </body>
</html>
